<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/finalproject</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- DB schema will be updated if needed -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="connection.pool_size">10</property>

        <mapping class="data.entities.User"/>
        <mapping class="data.entities.Service"/>
        <mapping class="data.entities.SubService"/>
        <mapping class="data.entities.Credit"/>
        <mapping class="data.entities.Order"/>
        <mapping class="data.entities.Comment"/>
        <mapping class="data.entities.Suggestion"/>
    </session-factory>
</hibernate-configuration>